@model CarRentalManagement.Dto.MailDtos.CreateMailDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"> Mail Gönderme Sayfası</h4>
                        <p class="card-subtitle mb-4">Kullanıcılara mail gönderme işlemleri bu sayfadan geröekleştirebilirsiniz.</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputTitle">Alıcı Mail Adresi</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="ReceiverMail" placeholder="Alıcı Mail Adresinizi Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Honu</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Subject" placeholder="Konu Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoDescription">Mesajınız</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="Body" placeholder="Mesajınızı giriniz" rows="3"></textarea>
                             
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">Mail GÖnder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

